.question {
  margin: 20px auto;
  padding: 120px 40px;
  max-width: 960px;
  font-weight: 700;
  background: linear-gradient(180deg, #f1b496 0%, #ea806a 100%);
  position: relative;
  .option {
    color: rgba(255, 255, 255, 0.5);
    &.active {
      color: #E47958;
    }
  }
  &.partially-correct {
    background: linear-gradient(180deg, #f6b868 0%, #ee6b2d 100%);
    .option.active {
      color: #77412c;
    }
  }
  &.correct {
    background: linear-gradient(180deg, #76e0c2 0%, #59cada 100%);
    .option.active {
      color: #4CAD94;
    }
  }
  .toggles {
    max-width: 900px;
    margin: auto;
    .toggle {
      margin-top: 24px;
      border: 2px solid #fbfbfb;
      border-radius: 40px;
      // height: 80px;
      position: relative;
      overflow: hidden;
      z-index: 2;
      .activeBG {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        // background: #f8caa3;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 40px;
        transition: 0.2s ease-in-out;
      }
      .options {
        display: flex;
        z-index: 10;
        position: relative;
        height: 100%;
        .option {
          width: 100%;
          height: 80px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          cursor: pointer;
          &.locked {
            cursor: default;
          }
        }
      }
      @media (max-width: 700px) {
        .options {
          flex-direction: column;
        }
        .activeBG {
          border-radius: 0;
        }
      }
    }
  }
}

.randomize {
  margin: auto;
  border: 1px solid #AAA;
  background: rgba(255, 255, 255, 0.5);
  margin-top: 20px;
  border-radius: 500px;
  padding: 20px;
  display: block;
}
